default_language_version:
  python: python3.10
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
{% if use_dbt %}
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        types: [yaml]
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        args: []
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.13.0
    hooks:
      - id: sqlfmt
        language_version: python
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 1.4.2
    hooks:
      - id: sqlfluff-lint
        additional_dependencies:
          - dbt-core==1.3.2
          - sqlfluff-templater-dbt
          - dbt-bigquery==1.3
      - id: sqlfluff-fix
        additional_dependencies:
          - dbt-core==1.3.2
          - sqlfluff-templater-dbt
          - dbt-bigquery==1.3
  - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
    # Last tagged release is old and unsupported, but the most recent refs
    # have some broken fixes from Datacoves... This is just a known
    # fair-to-decent commit.
    rev: c60edfd
    hooks:
      - id: dbt-deps
        args: ["--cmd-flags", "++project-dir", "transform"]
      - id: dbt-compile
        args: ["--cmd-flags", "++project-dir", "transform", "--"]
      # There are a ton of checks in this repo, these are the ones that
      # seemed most immediately useful.
      # https://github.com/dbt-checkpoint/dbt-checkpoint/blob/main/HOOKS.md
      # A few depend on metadata from the warehouse. Those can be useful,
      # but are not included right now to avoid needing the initial template
      # generation requiring data to have been generated.
      - id: check-model-columns-have-desc
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-model-has-description
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-model-has-properties-file
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-script-ref-and-source
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-source-columns-have-desc
      - id: check-macro-has-description
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-macro-arguments-have-desc
        args: ["--manifest", "transform/target/manifest.json", "--"]
      - id: check-source-table-has-description
{% endif %}
