[tool.poetry]
name = "{{project_name}}"
version = "0.1.0"
description = "\"{{friendly_project_name}}\""
authors = ["{{author}} <{{author_email}}>"]
license = "{{license}}"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
mkdocs-material = "~9.1.3"
dbt-core = "~1.4.0"
{% if dbt_target == 'BigQuery' %}
dbt-bigquery = "~1.4.0"
{% elif dbt_target == 'Snowflake' %}
dbt-snowflake = "~1.4.0"
{% endif %}
pre-commit = "^3.3.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
