version: 2

models:
  - name: sample_data
    description: A sample model
{% if dbt_target == 'BigQuery' %}
    columns:
      - name: id
        description: An integer id
        tests:
          - not_null
      - name: date
        description: A date column
        tests:
          - not_null
      - name: value
        description: A unique value
        tests:
          - not_null
          - unique
{% elif dbt_target == 'Snowflake' %}
    columns:
      - name: name
        description: A person's name
      - name: city
        description: Their residence
      - name: license_plate
        description: Their license plate
      - name: email
        description: Their email
{% endif %}
