name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

defaults:
  run:
    shell: bash -l {0}

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
{% if use_dbt %}
{% if dbt_target == 'BigQuery' %}
      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          # To set this up you should create a GCP service account
          # with the "BigQuery Metadata Viewer" role, create a service
          # account JSON file, and put it into a GitHub actions secret
          # under the name GOOGLE_CREDENTIALS. The BigQuery Metadata Viewer
          # role is good enough for `dbt compile`, but not good enough for
          # `dbt docs generate`. Should we want to do more detailed checks
          # at some point, we should revisit the service account permissions.
{% raw %}
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
{% endraw %}
          export_environment_variables: true
{% elif dbt_target == 'Snowflake' %}
{{ 0/0 }}  # Intentionally error until we implement Snowflake
{% endif %}
      - uses: actions/setup-python@v3
      - name: Install Conda environment with Micromamba
        uses: mamba-org/provision-with-micromamba@v15
        with:
          environment-file: transform/ci/environment.yml
{% endif %}
      - uses: pre-commit/action@v3.0.0
{% if use_dbt %}
        env:
          DBT_PROFILES_DIR: transform/ci
{% endif %}
